pipeline/ass11_q3_incremental.json
{
	"name": "ass11_q3_incremental",
	"properties": {
		"activities": [
			{
				"name": "modified date from file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "data_set_for_imcremntal_file",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get modified date from table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "modified date from file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ModifiedDate) as LastModifiedDate from SalesLt.customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_customer_table_data_set",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get modified date from table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileModifiedDate",
					"value": {
						"value": "@activity('modified date from file').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"fileLastModifiedDate": {
				"type": "string",
				"defaultValue": "@{formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')}"
			},
			"HMW_DATE": {
				"type": "string",
				"defaultValue": "@variables('lastModifiedDate')"
			}
		},
		"variables": {
			"fileModifiedDate": {
				"type": "String"
			},
			"date_hmw": {
				"type": "String"
			}
		},
		"folder": {
			"name": "assignment11"
		},
		"annotations": []
	}
}