pipeline/HMC_Using_DB_Pipeline.json
{
	"name": "HMC_Using_DB_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get LastModifiedDate from Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(LastModifiedDate) as lastRunDate from  SalesLT.High_Water_Concept_Data",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "incremental_dataset_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get modified date from table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get LastModifiedDate from Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ModifiedDate) as LastModifiedDate from SalesLt.customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_customer_table_data_set",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data table to adls file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get modified date from table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from salesLT.customer where ModifiedDate > '@{activity('Get LastModifiedDate from Table').output.firstRow.lastRunDate}' and ModifiedDate <= '@{activity('get modified date from table').output.firstRow.LastModifiedDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sql_customer_table_data_set",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "adls_table_filename_generic",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": "IncrmentalPipeline",
							"FileName": "CustomerData"
						}
					}
				]
			},
			{
				"name": "Update Last Modified date In db",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data table to adls file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select '@{activity('get modified date from table').output.firstRow.LastModifiedDate}' as LastModifiedDate",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": false,
							"keys": [
								"LastModifiedDate"
							],
							"interimSchemaName": "SalesLT"
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sql_customer_table_data_set",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "incremental_dataset_table",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Incremental_pipeline"
		},
		"annotations": []
	}
}