pipeline/increment_ingest_agent_data.json
{
	"name": "increment_ingest_agent_data",
	"properties": {
		"activities": [
			{
				"name": "get hw from high_water_mark_file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "highwaterMark",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "AgentData",
							"fileName": "hw_agent"
						}
					}
				}
			},
			{
				"name": "get hw from agent table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "get hw from high_water_mark_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(create_timestamp) as MaxDate from dbo.Agent",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "prjct2_sl_ds_agentData",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "dbo.Agent"
						}
					}
				}
			},
			{
				"name": "Copy AGENT DATA IN ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get hw from agent table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.agent where create_timestamp> '@{formatDateTime(activity('get hw from high_water_mark_file').output.firstRow.prop_0,'yyyy-MM-dd HH:mm:ss')}' AND create_timestamp <= '@{formatDateTime(activity('get hw from agent table').output.firstRow.MaxDate,'yyyy-MM-dd HH:mm:ss')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "prjct2_sl_ds_agentData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "parquet_agent_data",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "updatw_hw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy AGENT DATA IN ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select '@{activity('get hw from agent table').output.firstRow.MaxDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "prjct2_sl_ds_agentData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "highwaterMark",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "AgentData",
							"fileName": "hw_agent"
						}
					}
				]
			}
		],
		"folder": {
			"name": "prjct2"
		},
		"annotations": []
	}
}