pipeline/Ingestion_Product_Addres_To_JSON.json
{
	"name": "Ingestion_Product_Addres_To_JSON",
	"properties": {
		"activities": [
			{
				"name": "loopup fro address Report",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as recordCount from SalesLt.Address",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_customer_table_data_set",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "copy Address",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "loopup fro address Report",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('loopup fro address Report').output.firstRow.recordCount,100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copy in address Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sql_db_generic_table",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "SalesLt",
										"TableName": "Address"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_table_generic",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": "AddressAssignment"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "pipelines_if_lookup/child_pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-23T03:13:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}