pipeline/LookupMaxLastModifiedDate.json
{
	"name": "LookupMaxLastModifiedDate",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "lastModifiedDate",
							"value": {
								"type": "String",
								"content": "@{formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')}"
							}
						},
						{
							"key": "highWaterMarkDate",
							"value": {
								"type": "String",
								"content": "@variables('lastModifiedDate')"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "LookupMaxLastModifiedDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ModifiedDate) as LastModifiedDate from [SalesLT].[CustomerAddress]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_customer_table_data_set",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookupMaxLastModifiedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('LookupMaxLastModifiedDate').output.firstRow.maxLastModifiedDate, variables('highWaterMarkDate'))",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "assignment11"
		},
		"annotations": []
	}
}