pipeline/pipleine_using_set_.json
{
	"name": "pipleine_using_set_",
	"properties": {
		"activities": [
			{
				"name": "readLastmodifiedDte",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastModifiedDate",
					"value": {
						"value": "'1900-01-01 00:00:00'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LookupMaxLastModifiedDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "readLastmodifiedDte",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ModifiedDate) as LastModifiedDate from [SalesLT].[CustomerAddress]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_customer_table_data_set",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupMaxLastModifiedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from salesLT.CustomerAddress where ModifiedDate <= '@{activity('LookupMaxLastModifiedDate').output.firstRow.LastModifiedDate}' and ModifiedDate > @{variables('lastModifiedDate')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "sql_customer_table_data_set",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "adls_db_generic_json",
						"type": "DatasetReference",
						"parameters": {
							"FilePath": "test"
						}
					}
				]
			}
		],
		"variables": {
			"lastModifiedDate": {
				"type": "String",
				"defaultValue": "null"
			}
		},
		"folder": {
			"name": "assignment11"
		},
		"annotations": []
	}
}