pipeline/quest_3_metadata.json
{
	"name": "quest_3_metadata",
	"properties": {
		"activities": [
			{
				"name": "Check Custom file using metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "genric_metadata_dataset",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "SalesLt.Customer.txt"
						}
					},
					"fieldList": [
						"exists",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "check file exists or not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Custom file using metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Check Custom file using metadata').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data customer csv to table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "genric_metadata_dataset",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "SalesLt.Customer.txt"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sql_db_generic_table",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "SalesLt",
										"TableName": "Customer_MetaData_Backup"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Assignment 7"
		},
		"annotations": []
	}
}